<div class="px-3 py-2 my-4 text-center">
    <%= form_for @user, url: {action: 'new_session'} do |f| %>
     <%= f.text_field(:email) %><br><br>
     <%= f.password_field(:password) %><br><br>
     <%= f.submit 'Login' %>
    <% end %>
</div>