<h1>Welcome to InstaPets</h1>
<p>Pet images App using Ruby on Rails</p>

<% if @photos.any? %>
	<h2>Latest uploaded photos</h2>
	<% @photos.each do |photo| %>

		<%= link_to photo_detail_path(photo) do %>
			<img src=<%= photo.url %> alt=<%= photo.name %> height='150'>
		<% end %>
	<% end %>
<% else %>
	<p>Be the first one to submit a pic!</p>
<% end %>